# Backend-specific ignores

# node modules
node_modules/

# env files
.env
*.env

# Local Prisma DB (開発用)
prisma/dev.db

# Prisma generated client (もし使うなら)
prisma/*-generated/
src/generated/prisma

# logs
*.log

# Postman generated env
postman/*.generated.postman_environment.json

# OS junk
.DS_Store
Thumbs.db
