.hero-image {
  width: 420px;
  height: 260px;
  background: #e5e5e5;
  border-radius: 14px;
  overflow: hidden; /* important */
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-link {
  text-decoration: none;
  color: inherit;
}

.hero-image img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* makes image perfectly fill */
  border-radius: 14px;
}
